@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.wrapper{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

[class*="__container"]{
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

.main{
    flex: 1 1 auto;
}

.header{
    background: url(../img/bg3.png);
    height: 1440px;
}

.header__body{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

a{
    text-decoration: none;
    color: black;
}

.header__logo{
    font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 25px;
color: #000000;

text-transform: uppercase;


}
.header__logo a{
transition: .4s;
}
.header__burger{
    font-size: 40px;
    
    display: none;
    
}

.header__logo a:hover{
    color: #4F46BA;
    font-size: 30px;
}

.header__link{
transition: .4s;
font-size: 16px;
line-height: 19px;
}
.header__list{
    display: flex;
}
.header__link:hover{
    color: #4F46BA;
    font-size: 18px;
}

.header__item i{
    position: relative;
    top: 2px;
    padding-left: 4px;
    font-size: 18px;
    font-weight: bold;
}
.header__item{
    margin-right: 40px;

}
.header__sign-in{
    display: flex;
}
.header__sign a{
    padding: 15px 20px;
    transition: .3s;
}
.header__sign a:hover{
    padding: 15px 30px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 15px 0 0 15px;
}
.header__free a{
    padding: 15px 25px;
    background: #4F46BA;
    transition: .3s;
    
}
.header__free a:hover{
    padding: 20px 50px;
    background: #524ab5;
    font-weight: bold;
}
.header__free a{
    color: #fff;
}
.header__sublist{
    position: absolute;
    min-width: 150px;
    display: none;
}
.header__sublist li{
   border-bottom: 1px solid #4F46BA;
    padding: 10px 20px;
    background-color: rgb(251, 250, 255);
    margin-right: 0;
}
.header__sublist a{
    transition: .3s;
}
.header__sublist a:hover{
    font-size: 14px;
    padding-left: 15px;
    font-weight: bold;
    color: #4F46BA;
    
}
.header__sublist li{
    transition: .3s;
}
.header__sublist li:hover{
    background-color: rgb(249, 248, 255);
}
.header__sublist li:first-child{
    border-top: 1px solid #4F46BA;
}
.header__sublist a{
    font-size: 14px;
}

.header__list li:hover > ul{
    display: block;
}

.burger{
    transition: .5s;
    position: absolute;
    background: #4F46BA;
    color: #fff;
   left: -100%;
    width: 100%;
    height: 100%;
}
.burger a{
    color: #fff; 
    font-size: 30px;
}
.burger__list{
   
    text-align: center;
    width: 400px;
    margin: 150px auto;
}
.burger__item{
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.open{
    transition: .5s;
    left: 0;
}
.bx-caret-left-circle{
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width:1100px) {
    .header__logo{
        font-size: 20px;
    }
    .header__link{
        font-size: 14px;
    }
    .header__sign a{
        padding: 10px 15px;
    }
    .header__free a{
        padding: 10px 15px;
    }
    .header__body{
        padding: 25px 0;
    }
}

@media (max-width:900px){
.header__menu{
    display: none;
}
.header__burger{
    display: block;
}
}

@media (max-width:427px){
.header__sign-in{
    display: none;
}
}